@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600&family=Kaushan+Script&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #135c44;
  --color-secondary: #a5debf;
  --color-background: #aaddd0;
  --color-secondary-dark: #81beaf;
  --color-accent: #173111;
}
html {
  font-family: "Barlow", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}
body {
  min-height: 100vh;
  background-color: var(--color-background);
  position: relative;
}
img {
  max-width: 100%;
}

/*******************
  header and search
*******************/

header {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: 0.5rem solid var(--color-accent);
}

header h1 {
  padding: 1rem;
  font-family: "Kaushan Script", cursive;
}
header form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.75rem 0.75rem;
  position: relative;
}
#search {
  font-size: 1.3rem;
  width: 100%;
  padding: 0.25rem 0 0.25rem 0.75rem;
  background-color: var(--color-background);
}

#btnSearch .iconic {
  width: 2rem;
  height: 100%;
  padding: 0.25rem;
}
#btnSearch .iconic * {
  stroke: var(--color-accent);
  fill: var(--color-accent);
}

#btnSearch {
  border: none;
  position: absolute;
  right: 1rem;
  background-color: transparent;
}

/*******************
  content area
*******************/
section {
  transition: opacity 0.9s ease-in;
}

.hidden {
  position: absolute;
  top: -1000rem;
  opacity: 0;
}

.visible {
  opacity: 1;
  top: 0;
}
.overlay {
  opacity: 1;
  padding: 15rem 0;
  position: absolute;
  margin: 0 auto;
  z-index: 1000;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  height: 100vh;
}
.overlay .dot-one,
.overlay .dot-two,
.overlay .dot-three {
  opacity: 0;
  animation: loading 0.5s 1.5;
}

#instructions.visible,
#actors.visible,
#media.visible {
  opacity: 1;
  padding-bottom: 2rem;
}

#instructions h2,
#actors h2,
#media h2 {
  font-weight: 600;
  font-size: 2rem;
  color: var(--color-accent);
  padding-top: 1rem;
  text-align: center;
}

#actors .content,
#media .content {
  margin: 0 auto 0.5rem;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
  max-width: min(45rem, 100%);
}
#sort.visible {
  display: flex;
  padding: 1rem 2rem;
  gap: 2rem;
  justify-content: flex-end;
  color: var(--color-accent);
  margin: 0;
  width: 100%;
  max-width: 60rem;
}
#sort ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
#sort a {
  display: inline-block;
  color: var(--color-accent);
}

.content p {
  padding: 0 0.75rem;
  color: var(--color-accent);
  margin: 0.75rem auto;
}

.title-text {
  margin: 0 auto;
  width: 100%;
  border: 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.card {
  border-radius: 5px;
  display: flex;
  width: min(100%, 18rem);
  box-shadow: 2.5px 2.5px 2.5px;
  transition: transform 0.2s, background-color 0.2s;
  margin-bottom: 0.5rem;
}
.content a {
  text-decoration: none;
  color: inherit;
  display: flex;
}
.card:hover,
.card:focus {
  transform: scale(1.075);
  background-color: var(--color-secondary);
}
.img-wrap {
  width: 6rem;
  border-right: solid 2px var(--color-accent);
  display: flex;
}
.no-style {
  text-decoration: none;
  color: inherit;
  align-self: flex-end;
}

.info-display {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.3rem;
}

.btn {
  display: block;
  border: var(--color-accent) 2px solid;
  border-radius: 5px;
  padding: 0.35em 0.75em;
  color: var(--color-accent);
  background-color: var(--color-);
  font-size: 1.2rem;
  font-weight: bold;
  align-self: flex-end;
  margin: 2rem auto;
  box-shadow: 5px 5px 5px;
  transition: transform 0.2s, color 0.2s, background-color 0.2s, box-shadow 0.2s;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  background-color: var(--color-accent);
  color: var(--color-background);
  box-shadow: none;
}

/* Footer Logo */
.foot {
  background-color: var(--color-primary);
  width: 100%;
  position: absolute;
  bottom: 0;
}
.footer-logo {
  padding-right: 2rem;
  width: 100%;
  max-width: 60rem;
  text-align: right;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
}
.footer-logo svg {
  max-width: 3rem;
  height: 2.5rem;
}
/***********************
  Effects
***********************/

@keyframes loading {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}

/************************
  Media Queries
************************/
@media all and (min-width: 800px) {
  header .container-lg {
    align-items: center;
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    width: 100%;
    max-width: 60rem;
  }
  header form {
    padding: 0;
  }
  header h1 {
    padding: 0;
  }
  #btnSearch {
    right: 0.75rem;
  }
  #instructions .content p {
    padding: 0 2rem;
    max-width: min(60rem, 100%);
  }
  .card {
    width: 18rem;
  }
}
@media all and (min-width: 1100px) {
  header {
    font-size: 2rem;
  }
  #instructions h2 {
    font-size: 2.5rem;
  }
  #instructions p {
    font-size: 1.5rem;
  }
  #actors.visible,
  #media.visible {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 1rem 1rem 0;
  }
  #actors h2,
  #media h2 {
    font-size: 9rem;
    color: var(--color-secondary-dark);
    position: relative;
    writing-mode: vertical-lr;
    align-self: flex-start;
  }
  .sort {
    padding-right: 0;
    display: inline-flex;
    flex-grow: 100%;
  }

  #search {
    font-size: 1.5rem;
  }
  #btnSearch .iconic {
    height: 42px;
    width: 42px;
  }
}
